<center><p id="abouttitle" style="font-size: 40px;">about.</p>

<p id="aboutcontent">This is a URL Shortener created in April 2016 as part of my NEXT Academy course
<br><br><br><br>

Hope you like it!</p></center>