<div id="error" style="font-family: Futura">
<p style="font-size: 20px"> <u>Error:</u></p>
<p>Please ensure you have typed your link correctly and included ("http:")</p>
<p>Please try again!</p>

<form action="/error" method="get">
	<input id = "errorbtn" type = "submit" style ="font-family: Futura;" value = "Back.">
</form>