<p style="text-align: center">

<!-- 	<br><br><br><br> -->
<div>
	<form action="/urls" method="post">
	<input type = "text" name = "long_url" placeholder = "Paste Your URL Here!" id = "paste">
	<br><br>
	<input type = "submit" class='btn' value = "Click To Submit" size = "80" id = "submit">
	</form>
</div>

<% unless @link == nil %>
<p style="font-family: Futura;">Your Shortened URL: <a href="/<%= @link.short_url%>" id = "newlink"><%= @link.short_url %></a></p>
<% end %>

<div>
	<a href="/counts"id="linkcount">Click for Link Counts</a>
</div>
<!-- size="80" height="50" width="50"  -->
<!--  style="font-size: 12px; font-family: Futura; color: midnightblue" -->
<!-- class='btn btn-default btn-success btn-lg' -->