<h1>Hello World!</h1>
<p>See Me in views/static/index.html.erb</p>
<form action="/urls" method="post">
	Please Enter URL:
	<input type = "text" name = "long_url">
	<input type = "submit" value = "Click Here to Shorten Your URL!">
</form>
<% unless @link == nil %>
<p>Here's your Shortened URL!: <a href="/<%= @link.short_url%>"><%= @link.short_url %></a></p>
<% end %>

<a href="/count">Show Link Counts</a>