<html style="text-align: center;">
	<head>
    <title> z1ho | Welcome to shortn.!</title>
    
    <link rel="shortcut icon" href="https://cdn3.iconfinder.com/data/icons/ballicons-free/128/imac.png"/>
 		<link href="css/application.css" rel="stylesheet" type="text/css">
 		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 		<script type='text/javascript' src='/js/application.js'></script>
  
  </head>

	<body>
		<div id="shortn">
			<center style="padding-top: 150px">
				<h1>shortn.</h1>
			</center>
		</div>

		<div id="buttons">
				<form action="/index" method="get">
					<input id = "home" type = "submit" value = "Home." size = "80">
				</form>
				<form action="/about" method="get">
					<input id = "about" type = "submit" value = "About." size = "80">
				</form>
				<form action="/contact" method="get">		
					<input id = "contact" type = "submit" value = "Contact." size = "80">
				</form>
				<form action="/careers" method="get">
					<input id = "careers" type = "submit" value = "Careers." size = "80">
				</form>
		</div>

		<div>
			<center>
			<h4 id="head4">Your No.#1 URL Shortener</h4>
			<p id="strikethrough">_____________________________________</p>
			<p id="better"> Better. | Quicker. | Smarter. </p>
			</center>
		</div>	

		<%= yield %>
	</body>

	<footer>
			<br><br><br>
			<p style="font-size: 11px"> © Zi-Wen Ho | April 2016 </p>
	
	</footer>
</html>